In [188]:
# IMPORTING THE REQUIRED LIBRARIES -->

import pandas as pd
import numpy as np

In [189]:
# INCLUDING THE FILE 

df = pd.read_csv('AQI_Data.csv')

In [190]:
# 1. Displaying the first 5 Rows

print(df.head(5))

    City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
0  Delhi  2024-01-01  152    153   151  26.509131  1.581413  123.401530
1  Delhi  2024-01-02  264    288   268  87.955853  1.242119  144.533790
2  Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3  Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
4  Delhi  2024-01-05  237    266   250  51.046299  1.591834   47.938019

         SO2
0  25.062474
1   5.926302
2  32.786668
3   7.099955
4  28.140550

In [191]:
# 2. Displaying the last 6 rows

print(df.tail(6))

      City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
2556  Pune  2024-12-26   80     95    82  88.809636  0.497454  129.043801
2557  Pune  2024-12-27  419    448   462  26.701714  1.553582   86.973954
2558  Pune  2024-12-28  252    202   182  19.920962  1.599821   41.939484
2559  Pune  2024-12-29  365    414   410  80.815702  1.919950   39.982167
2560  Pune  2024-12-30  253    269   285  66.231614  0.611800   63.966705
2561  Pune  2024-12-31   95    140   117  99.505459  0.122817  112.774765

            SO2
2556   8.657624
2557  44.263423
2558  20.545087
2559  22.646297
2560  10.580135
2561  30.814997

In [192]:
# 3. Displaying the summary statistics for all NUMERIC columns

print(df.describe())

               AQI        PM2.5         PM10          NO2           CO  \
count  2562.000000  2562.000000  2562.000000  2562.000000  2562.000000
mean    277.635051   276.738486   275.988290    54.151115     1.037476
std     128.603738   131.015126   131.900856    25.744072     0.560294
min      50.000000     2.000000   -26.000000    10.036926     0.100100
25%     166.250000   165.000000   166.000000    32.025372     0.545341
50%     276.000000   274.500000   274.000000    53.606459     1.010095
75%     388.750000   388.000000   386.000000    76.322683     1.533300
max     499.000000   543.000000   559.000000    99.974242     1.999528

                O3          SO2
count  2562.000000  2562.000000
mean    104.832673    27.746349
std      54.878784    12.927527
min      10.045129     5.000524
25%      58.169877    16.685076
50%     104.345545    27.872017
75%     152.515574    38.878445
max     199.979607    49.976055

In [193]:
# 4. Using Numpy to compute the mean AQI, PM2.5, and PM10 values for each city

cities = df['City'].unique()

mean_values_np = {
    city: {
        'AQI': np.mean(df.loc[df['City'] == city, 'AQI']),
        'PM2.5': np.mean(df.loc[df['City'] == city, 'PM2.5']),
        'PM10': np.mean(df.loc[df['City'] == city, 'PM10'])
    }
    for city in cities
}

data = pd.DataFrame(mean_values_np).T
print(data)

                  AQI       PM2.5        PM10
Delhi      279.153005  279.898907  279.349727
Mumbai     287.797814  286.046448  286.669399
Kolkata    265.901639  264.663934  263.644809
Chennai    274.314208  275.139344  273.265027
Bangalore  279.543716  278.469945  277.759563
Hyderabad  280.355191  277.825137  276.456284
Pune       276.379781  275.125683  274.773224

In [194]:
# 5. Display all rows where the city is 'Delhi'

Delhi_Rows = df[df['City'] == 'Delhi']
print(Delhi_Rows)

      City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
0    Delhi  2024-01-01  152    153   151  26.509131  1.581413  123.401530
1    Delhi  2024-01-02  264    288   268  87.955853  1.242119  144.533790
2    Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3    Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
4    Delhi  2024-01-05  237    266   250  51.046299  1.591834   47.938019
..     ...         ...  ...    ...   ...        ...       ...         ...
361  Delhi  2024-12-27  165    206   189  31.491659  0.957355  197.148035
362  Delhi  2024-12-28  496    511   505  18.473672  0.752960   63.661871
363  Delhi  2024-12-29  276    231   239  69.110209  1.661996   82.279801
364  Delhi  2024-12-30  356    316   341  26.805097  0.278669   77.767485
365  Delhi  2024-12-31  134    155   179  67.840719  0.472098  180.422007

           SO2
0    25.062474
1     5.926302
2    32.786668
3     7.099955
4    28.140550
..         ...
361  39.740561
362  22.582776
363  39.902533
364  39.086685
365  28.408574

[366 rows x 9 columns]

In [195]:
# 6. Display the first 10 rows, showing only the columns City, AQI, and PM2.5

print(Delhi_Rows[['City', 'AQI', 'PM2.5']].head(10))

    City  AQI  PM2.5
0  Delhi  152    153
1  Delhi  264    288
2  Delhi  307    344
3  Delhi  363    334
4  Delhi  237    266
5  Delhi  369    321
6  Delhi  365    328
7  Delhi  493    513
8  Delhi  409    362
9  Delhi  451    490

In [196]:
# 7. Using NumPy to filter out and display rows where AQI > 300 and PM10 > 200

aqi_filter = np.logical_and(Delhi_Rows['AQI'] > 300, Delhi_Rows['PM10'] > 200)
print(Delhi_Rows[aqi_filter])

      City        Date  AQI  PM2.5  PM10        NO2        CO          O3  \
2    Delhi  2024-01-03  307    344   357  94.469744  0.101480  198.520196
3    Delhi  2024-01-04  363    334   347  12.075618  1.097072   85.973585
5    Delhi  2024-01-06  369    321   327  64.679037  0.423996   22.359803
6    Delhi  2024-01-07  365    328   347  44.687485  0.130336   53.869827
7    Delhi  2024-01-08  493    513   526  54.565922  0.165338  182.770876
..     ...         ...  ...    ...   ...        ...       ...         ...
354  Delhi  2024-12-20  474    456   475  74.800724  0.894181   26.879647
355  Delhi  2024-12-21  338    368   361  20.329198  1.734265  147.334718
360  Delhi  2024-12-26  432    449   464  77.869691  0.134097   33.988219
362  Delhi  2024-12-28  496    511   505  18.473672  0.752960   63.661871
364  Delhi  2024-12-30  356    316   341  26.805097  0.278669   77.767485

           SO2
2    32.786668
3     7.099955
5    47.699849
6    15.846146
7    16.645099
..         ...
354  35.768935
355   8.045076
360  34.683321
362  22.582776
364  39.086685

[165 rows x 9 columns]